include _button-link.pug

mixin menu 
  img(src="https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/DesignPortfolio/facpdvyl3okbqmxsmplz" alt="Web page logo")
  +button-link