include ../components/_button-link.pug

section 
  h2 I&apos;m Amy, and I&apos;d love to work on your next project
  p
    |I love working with others to create beautiful design solutions.
    |I&apos;ve designed everything from brand illustrations to complete
    |mobile apps. I&apos;m also handy with a camera!
  +button-link