include ../components/_button-link.pug

section.main__section.main__section--about-me 
  img(src="https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/DesignPortfolio/yleozmeqiajjg1gfr4na" alt="Reference image about the designer.").section__img
  h2.section__h2 I&apos;m Amy, and I&apos;d love to work on your next project
  p.section__p
    |I love working with others to create beautiful design solutions.
    |I&apos;ve designed everything from brand illustrations to complete
    |mobile apps. I&apos;m also handy with a camera!
  +button-link("section")