include ../components/_button-link.pug

section 
  h2 Book a call with me
  p 
    |I&apos;d love to have a chat to see how I can help you. 
    |The best first step is for us to discuss your project during
    |a free consultation. Then we can move forward from there.
  +button-link