include ../components/_button-link.pug

section.main__section.main__section--call-me 
  h2.section__h2 Book a call with me
  p.section__p 
    |I&apos;d love to have a chat to see how I can help you. 
    |The best first step is for us to discuss your project during
    |a free consultation. Then we can move forward from there.
  +button-link("section")