-const images = [{title: "graphic design", image: "https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/DesignPortfolio/vzp7xo5wfnxa2mfydhlm"},  {title: "blue tapestry", image: "https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/DesignPortfolio/jynxr6rxfkwm8tn2ji6r"}, {title: "newspaper design", image: "https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/DesignPortfolio/pt45gu0ubi2ngai1306r"}, {title: "mobile design", image: "https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/DesignPortfolio/k1jlvxkzkxajycifqmlk"}, {title: "blue x design", image: "https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/DesignPortfolio/orrsxyz8jrcmm9mnnenn"}]

section.main__section.main__section--my-work 
  h2.section__h2 My Work
  div.swiper.section__div
    ul.swiper-wrapper.div__ul
      each item in images
        li.swiper-slide.ul__li 
          img(src=item.image, alt="Reference image of" + item.title).li__img
    button.swiper-button-prev.div__button
    button.swiper-button-next.div__button
