-const design = {title: "Graphic Design", image: "https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/DesignPortfolio/bmrfnmsdfxry94j1gd1s"}
-const ux = {title: "UI/UX", image: "https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/DesignPortfolio/zgqnpmds0p6czy0dhln9"}
-const apps = {title: "Apps", image: "https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/DesignPortfolio/sfrckp6mhrjijcf4qjly"}
-const illus = {title: "Illustrations", image:"https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/DesignPortfolio/mebf3txkq4ayyencc9pm"}
-const photo = {title: "Photography", image:"https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/DesignPortfolio/byrl1a12rvy4u0tfnpn2"}
-const motion = {title: "Motion Graphics", image:"https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/DesignPortfolio/e6dkdopqo3zpwljnrr1e"}
-const solutions = [design, ux, apps, illus, photo, motion]

section.main__section.main__section--solutions
  h2.section__h2 Design solutions made easy
  p.section__p
    |With over ten years of experience in various design disciplines,
    |I&apos;m your one-stop shop for your design needs.
  ul.section__ul 
    each item in solutions
      li.ul__li
        article.li__article 
          h3.article__h3=item.title
          img(src=item.image, alt=item.title + " logo").article__img