.main__section--about-me {
  display: grid;
  grid-template-areas:
    "img img"
    "img img"
    "img img"
    "title title"
    "text text"
    "link link";
  grid-template-rows: repeat(6, max-content);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 1.5em;
  .section__img {
    grid-area: img;
    width: 81%;
    max-width: 23em;
    margin-bottom: 1em;
    object-fit: contain;
  }
  .section__h2 {
    grid-area: title;
    font-size: typographyRes(1.625rem, 1.4rem, 1.25vw, 2.5rem);
    text-align: center;
  }
  .section__p {
    grid-area: text;
  }
  .section__a {
    grid-area: link;
  }
}

@media screen and (width >= $breakpoint-tablets) {
  .main__section--about-me {
    position: relative;
    grid-template-areas:
      "img title"
      "img title"
      "img text"
      "img text"
      "img link"
      "img link";
    .section__img {
      position: absolute;
      top: 0;
      left: -25%;
      width: 100%;
      min-height: 22em;
    }
  }
}

@media screen and (width >= 68.75em) {
  .main__section--about-me {
    .section__img {
      position: relative;
      top: auto;
      left: auto;
    }
  }
}
