.main__section--call-me {
  display: grid;
  grid-template-areas:
    "title title"
    "text text"
    "link link";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, max-content);
  row-gap: 1.625em;
  padding: 3em 1.5em;
  border-radius: 0.625em;
  background-color: #030303;
  .section__h2 {
    grid-area: title;
    font-size: typographyRes(1.5rem, 1.2rem, 1.2vw, 2rem);
    text-align: center;
    color: #fff7f0;
  }
  .section__p {
    grid-area: text;
    color: #fff7f0;
  }
  .section__a {
    grid-area: link;
    justify-self: center;
  }
}

@media screen and (width >= $breakpoint-desktops) {
  .main__section--call-me {
    grid-template-areas:
      "title link"
      "text link";
    grid-template-rows: repeat(2, max-content);
    padding: 5em 4em;
    .section__a {
      align-self: center;
      justify-self: flex-end;
    }
  }
}
