.header__img {
  width: 3em;
  height: 3em;
}

.header__a {
  @include button-link($bg-button);
}

@media screen and (width >= $breakpoint-tablets) {
  .header__img {
    width: 4em;
    height: 4em;
  }
}

@media screen and (width >= $breakpoint-desktops) {
  .header__a {
    transition: background-color 0.3s ease-in-out;
  }
  .header__a:hover {
    background-color: #755cde;
  }
}
